/* font -> League Spartan */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

body{	
	height: 100vh;
	font-family: 'League Spartan', sans-serif;
	font-size: 20px;
	font-weight: 600;
	background-color: hsl(268, 75%, 9%);
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid blue; */
}
main{
	/* border: 1px solid red; */
	width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}
header > h1{
	color: hsl(52, 100%, 62%);
	font-size: 18px;
	font-weight: 600;
	letter-spacing: 2px;
	/* align-self: flex-end; */
}
.calc{
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 380px;
	justify-content: center;
	align-items: center;
}
.output-field{
	/* border: 1px solid blue; */
	padding: 20px;
	width: 100%;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: end;
	color: hsl(52, 100%, 62%);
	background-color: hsl(268, 71%, 12%);
	border-radius: 8px;
}
.input-field{
	width: 380px;
	/* height: 290px; */
	display: grid;
	grid-template-columns: 75px 75px 75px 75px;
	grid-template-rows: 45px 45px 45px 45px 45px;
	background-color: hsl(268, 71%, 12%);
	border-radius: 8px;
	padding: 20px;
	justify-content: space-between;
	/* border: 1px solid white; */
	gap: 14px;
}
.num{
	/* border: 1px solid red; */
	height: 45px;
	width: 75px;
	border-radius: 10px;
	/* margin-bottom: 20px; */
	display: flex;
	align-items: center;
	justify-content: center;

	color:  hsl(52, 100%, 62%);
	background-color: hsl(268, 47%, 21%);
	box-shadow: 0px 2px 0px hsl(285, 91%, 52%);

	cursor: pointer;
}

#btn-del{
	color:  hsl(0, 0%, 100%);
	background-color: hsl(281, 89%, 26%);
	box-shadow: 0px 2px 0px hsl(285, 91%, 52%);
	text-transform: uppercase;
}

#btn-reset{
	width: 162px;
	color:  hsl(0, 0%, 100%);
	background-color: hsl(281, 89%, 26%);
	box-shadow: 0px 2px 0px hsl(285, 91%, 52%);
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
	text-transform: uppercase;
}
#btn-equal{
	width: 162px;
	color: hsl(198, 20%, 13%);
	background-color: hsl(176, 100%, 44%);
	box-shadow: 0px 2px 0px hsl(177, 92%, 70%);
	grid-column-start: 3;
	grid-column-end: 5;
	grid-row-start: 5;
	grid-row-end: 6;
}

.num:hover{
	opacity: 0.5;

}
.num:active , .num:focus{
	background-color: none;
}